$font: 'Merriweather', serif;
$bcolor: bisque;
$fontcolor: rgb(3, 11, 150);
$mybuttcolor: #f7786b;
@mixin bradius5{
    border-radius: .5em;
    border: 1px solid rgb(126, 126, 255)
}
body{
    background-color: $bcolor;
}
.card{
    background-color: white;
    @include bradius5;
    padding: 1em;
    box-shadow: -5px 10px 10px gray;
}
h1, h2, h3 {
    color:$fontcolor
}
header h1 {
    font-style: oblique;
}
img {
    max-width: 100%;
    height: auto;
}

.mybutton {
    display: block;
    width: 6em;
    font-size: 1.2em;
    color: #ff8;
    background: $mybuttcolor;
    text-decoration: none;
    font-style: oblique;
    text-align: center;
    padding: .2em .5em;
    margin: .5em 0;
    @include bradius5;
}
.mytag{
    background: lighten($mybuttcolor, 20%);
    font-size: 0.8em;
    color: #fff;
    padding:  0.2em 0.5em;
    @include bradius5
}
.stretch{
    display: grid;
    justify-self: stretch;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
@media screen and (min-width:37.5em) {
    .container {
        max-width: 40em;
        margin: 0 auto;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
}
@media screen and (min-width:60em) {
    .container {
        max-width: 70em;
        margin: 0 auto;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
}